* {

margin: 0;
padding: 0;

}

body {

height: 100vh;
background-color: rgba(6, 58, 101, 0.498);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
color: rgb(43, 0, 255);


}

.cabecalho {

    padding: 2% 0% 0% 36%;

}.cabecalho-menu {
    display: flex;
    gap:80px;

}

.cabecalho-menu-links {

    font-family: fantasy;
font-size: 24px;
font-weight: 600;
color:rgb(255, 0, 0);

text-decoration: none;

}


.titulo-destauque {

color: blue;

}

.conteudo {

height: auto;
flex-direction: column;
margin: 10%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom:  15px;

}

.apresentacao-conteudo {

width: 615px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: auto;
gap: 40px;
order: 2;

}

.apresentacao-conteudo-titulo {

font-size: 36px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;

}

.apresentacao-conteudo-paragrafo {

font-size: 24px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: justify;

}